<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StampReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <StampReader.Properties.Settings>
            <setting name="StampDB" serializeAs="String">
                <value>c:\temp\stampdb\STAMPDATA.MDB</value>
            </setting>
            <setting name="JSonFileOutput" serializeAs="String">
                <value>C:\temp\stampdb\stampInfo.json</value>
            </setting>
            <setting name="includeAllVarieties" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeCommemorative" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="includeDefinitive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeCommemorativeOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="includeSPecials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="srchCountry" serializeAs="String">
                <value>United States</value>
            </setting>
        </StampReader.Properties.Settings>
    </userSettings>
</configuration>